:root {
    --page-padding: 26px;
    --slider-length: 300px;
    --slider-width: 18px;
    --grey: rgb(51, 51, 51);
    --font-size-large: 40pt;
    --font-size-medium: 15pt;
    --font-size-small: 11pt;
}

@media (max-width: 1023px) {
    :root {
        --page-padding: 16px;
        --slider-length: 200px;
        --slider-width: 15px;
        --font-size-large: 22pt;
        --font-size-medium: 13pt;
        --font-size-small: 8pt;
    }
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blinkingText {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.App {
    width: 100vw;
    height: 100vh;
    min-height: -webkit-fill-available;
    background-color: rgb(162, 140, 147);
}

#canvas {
    width: 100%;
    height: 100%;
    animation-name: appear;
    animation-duration: 500ms;
}

.Menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.Pointer {
    cursor: pointer;
}

.MenuActive {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Overlay {
    transition: opacity 1s;
    opacity: 1;
}

.Overlay.FadeOut {
    opacity: 0;
    pointer-events: none;
}

.Backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    pointer-events: all;
}

.IgnoreClick {
    pointer-events: none;
}

.StartText {
    color: white;
    font-size: var(--font-size-large);
    text-shadow: 2px 2px var(--grey);
    animation: blinkingText 1s infinite;
}

.Controls {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.Footer {
    font-size: var(--font-size-small);
    position: absolute;
    bottom: var(--page-padding);
    right: var(--page-padding);
    color: var(--grey);
    opacity: 0.9;
}

.SoundWarning {
    display: flex;
    align-items: center;
    font-size: var(--font-size-medium);
    position: absolute;
    top: var(--page-padding);
    left: var(--page-padding);
    line-height: 1em;
}

svg {
    fill: var(--grey);
}

@media (max-width: 1023px) {
    svg {
        transform: scale(0.8);
    }
}

.SoundWarningText {
    margin-top: 2px;
    margin-left: 8px;
    color: var(--grey);
    opacity: 0.9;
}

@media (max-width: 1023px) {
    .SoundWarningText {
        margin-top: 2px;
        margin-left: 1px;
        color: var(--grey);
    }
}

.Link {
    color: var(--grey);
    font-size: var(--font-size-medium);
    position: absolute;
    top: var(--page-padding);
    right: var(--page-padding);
    pointer-events: all;
    cursor: pointer;
    opacity: 0.9;
}

.ExternalLink {
    cursor: pointer;
    transition: color 100ms;
}

.ExternalLink:link {
    color: white;
}

.ExternalLink:visited {
    color: white;
}

.ExternalLink:hover {
    color: rgb(162, 140, 147);
}
.SliderContainer {
    position: absolute;
    pointer-events: all;
    top: var(--page-padding);
    left: var(--page-padding);
    z-index: 1000;
}

@media (min-width: 1024px) {
    .SliderContainer {
        transform-origin: top right;
        transform: rotate(270deg) translate(-5px, calc(var(--slider-length) * -1));
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .Slider {
        overflow: hidden;
        width: var(--slider-length);
        -webkit-appearance: none;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .Slider::-webkit-slider-runnable-track {
        height: var(--slider-width);
        -webkit-appearance: none;
        color: black;
        margin-top: -1px;
    }

    .Slider::-webkit-slider-thumb {
        width: 0px;
        -webkit-appearance: none;
        height: var(--slider-width);
        box-shadow: calc(var(--slider-length) * -1) 0 0 var(--slider-length) var(--grey);
    }
}
.Slider::-moz-range-progress .Slider::-ms-fill-lower {
    background-color: black;
}
.Slider .Slider::-moz-range-track .Slider::-ms-fill-upper {
    background-color: rgba(0, 0, 0, 0.2);
}

.SubtitlesContainer {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: opacity 1s;
    opacity: 1;
}

.SubtitlesContainer.FadeOut {
    opacity: 0;
}

.SubtitlesText {
    color: white;
    font-size: var(--font-size-large);
    text-shadow: 2px 2px var(--grey);
    text-align: center;
    padding: var(--page-padding);
}

@media (max-width: 1023px) {
    .DesktopOnly {
        display: none;
    }
}

.Info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: var(--font-size-large);
    text-shadow: 2px 2px var(--grey);
    z-index: 100;
}
