:root {
    --page-padding: 20px;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blinkingText {
    0% {
        color: white;
    }
    49% {
        color: white;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: white;
    }
}

.App {
    width: 100vw;
    height: 100vh;
    background-color: rgb(162, 140, 147);
}

#canvas {
    width: 100%;
    height: 100%;
    animation-name: appear;
    animation-duration: 500ms;
}

.Menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: none;
}

.Overlay {
    transition: opacity 1s;
    opacity: 1;
}

.Overlay.FadeOut {
    opacity: 0;
    pointer-events: none;
}

.Backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    pointer-events: all;
}

.IgnoreClick {
    pointer-events: none;
}

.StartText {
    color: white;
    font-size: 30pt;
    animation: blinkingText 1s infinite;
    z-index: 100;
}

.Controls {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.Footer {
    font-size: 12pt;
    position: absolute;
    bottom: var(--page-padding);
    right: var(--page-padding);
}

.SoundWarning {
    display: flex;
    align-items: center;
    font-size: 12pt;
    position: absolute;
    top: var(--page-padding);
    left: var(--page-padding);
    line-height: 1em;
}

.SoundWarningText {
    margin-top: 2px;
    margin-left: 5px;
}

.BackLink {
    color: black;
    font-size: 20pt;
    position: absolute;
    top: var(--page-padding);
    right: var(--page-padding);
    pointer-events: all;
}

.SliderContainer {
    position: absolute;
    pointer-events: all;
    top: var(--page-padding);
    left: var(--page-padding);
    z-index: 1000;
}

@media (min-width: 1024px) {
    .SliderContainer {
        transform-origin: top right;
        transform: rotate(270deg) translate(0px, -200px);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .Slider {
        overflow: hidden;
        width: 200px;
        -webkit-appearance: none;
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .Slider::-webkit-slider-runnable-track {
        height: 20px;
        -webkit-appearance: none;
        color: black;
        margin-top: -1px;
    }

    .Slider::-webkit-slider-thumb {
        width: 0px;
        -webkit-appearance: none;
        height: 20px;
        box-shadow: -200px 0 0 200px rgba(0, 0, 0, 0.5);
    }
}
.Slider::-moz-range-progress .Slider::-ms-fill-lower {
    background-color: black;
}
.Slider .Slider::-moz-range-track .Slider::-ms-fill-upper {
    background-color: rgba(0, 0, 0, 0.2);
}
